In [119]:
print("hello world")

hello world

In [120]:
message="hello world"
print(message)

hello world

In [121]:
message="hello python world"
print(message)

hello python world

In [122]:
print('tom said"hello world"')

tom said"hello world"

In [123]:
first_name = "vincy"
last_name = "wang"
full_name = f"{first_name} {last_name}"
print(full_name)

vincy wang

In [124]:
print(f"Hello,{full_name.title()}")

Hello,Vincy Wang

In [125]:
name = "Eric"
print(f"Hello {name},would you like to learn some Python today?")

Hello Eric,would you like to learn some Python today?

In [126]:
name = "eric"
print(name.lower())
print(name.upper())
print(name.title())

eric
ERIC
Eric

In [127]:
name = "Albert Einstein"
sentence = "A person who never made a mistake never tried anything new."
print(f'{name} once said,"{sentence}"')

Albert Einstein once said,"A person who never made a mistake never tried anything new."

In [128]:
name = "\t eric \n"
print(name)
print(name.strip())

	 eric

eric

In [129]:
3 ** 3 #python用两个乘号表示幂运算

27

In [130]:
x,y,z = 0,1,2 #多变量赋值
print(x,y,z)

0 1 2

In [131]:
print(4+4)
print(2*4)
print(9-1)
print(16/2)

8
8
8
8.0

In [132]:
import this

In [133]:
names = ['Jack','tom','vincy','marry','jenny']

for ele in names:
    print(ele.title())

Jack
Tom
Vincy
Marry
Jenny

In [134]:
for ele in names:
    print(f'{ele.title()},how are you.')

Jack,how are you.
Tom,how are you.
Vincy,how are you.
Marry,how are you.
Jenny,how are you.

In [135]:
traffic = ['motorcycle','car','subway']
print(f"I'd like to own a Honda {traffic[0]}.")
print(f"I'd like to own a Jeep {traffic[1]}.")
print(f"I'd like to go everywhere by {traffic[2]}.")

I'd like to own a Honda motorcycle.
I'd like to own a Jeep car.
I'd like to go everywhere by subway.

In [136]:
guests = ['Evan Lu','Libra Zuo','Cheese Piggy']

for i in guests:
    print(f"{i},would you please have dinner with me?")
    
print(f"{guests[2]}can't keep the appointment.")

Evan Lu,would you please have dinner with me?
Libra Zuo,would you please have dinner with me?
Cheese Piggy,would you please have dinner with me?
Cheese Piggycan't keep the appointment.

In [137]:
guests[2] = 'Osborn Xiao'

for i in guests:
    print(f"{i},would you please have dinner with me?")

Evan Lu,would you please have dinner with me?
Libra Zuo,would you please have dinner with me?
Osborn Xiao,would you please have dinner with me?

In [138]:
guests.insert(0,'Vincy Wang')
guests.insert(2,'Isaac Newton')
guests.append('Van Gogh')

In [139]:
for i in guests:
    print(f"{i},would you please have dinner with me?")

Vincy Wang,would you please have dinner with me?
Evan Lu,would you please have dinner with me?
Isaac Newton,would you please have dinner with me?
Libra Zuo,would you please have dinner with me?
Osborn Xiao,would you please have dinner with me?
Van Gogh,would you please have dinner with me?

In [140]:
for i in range(4):
    gue = guests.pop()
    print(f"{gue},sorry for you.")

Van Gogh,sorry for you.
Osborn Xiao,sorry for you.
Libra Zuo,sorry for you.
Isaac Newton,sorry for you.

In [141]:
for i in guests:
    print(f"{i},the dinner will hold on time.")

Vincy Wang,the dinner will hold on time.
Evan Lu,the dinner will hold on time.

In [142]:
del guests[0]
del guests[0]
print(guests)

[]

In [143]:
destinations = ['Morocco','Xuzhou','Paris','Mongolia','Eygpt']

print(destinations)

['Morocco', 'Xuzhou', 'Paris', 'Mongolia', 'Eygpt']

In [145]:
print(sorted(destinations))

['Eygpt', 'Mongolia', 'Morocco', 'Paris', 'Xuzhou']

In [146]:
print(destinations)

['Morocco', 'Xuzhou', 'Paris', 'Mongolia', 'Eygpt']

In [147]:
destinations.reverse()
print(destinations)

['Eygpt', 'Mongolia', 'Paris', 'Xuzhou', 'Morocco']

In [148]:
destinations.reverse()
print(destinations)

['Morocco', 'Xuzhou', 'Paris', 'Mongolia', 'Eygpt']

In [149]:
destinations.sort()
print(destinations)

['Eygpt', 'Mongolia', 'Morocco', 'Paris', 'Xuzhou']

In [151]:
destinations.sort(reverse = True)
print(destinations)
print(len(destinations))

['Xuzhou', 'Paris', 'Morocco', 'Mongolia', 'Eygpt']
5

In [3]:
pizzas = ['pepperoni','pineapple','chicken']

for pizza in pizzas:
    print(f"I like {pizza} pizza")
    
print("\nI really don't like pizza!")

I like pepperoni pizza
I like pineapple pizza
I like chicken pizza

I really don't like pizza!

In [5]:
animals = {'dog','cat','rabbit'}

for animal in animals:
    print(f"A {animal} would make a great pet.")
    
print("\nAny of these animals would make a great pet!")

A cat would make a great pet.
A dog would make a great pet.
A rabbit would make a great pet.

Any of these animals would make a great pet!

In [6]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [7]:
values = [value for value in range(1,1000001)]
print(min(values))
print(max(values))
print(sum(values))

1
1000000
500000500000

In [8]:
odds = [odd for odd in range(1,20,2)]

for odd in odds:
    print(odd)

1
3
5
7
9
11
13
15
17
19

In [9]:
triples = [triple for triple in range(3,31,3)]

for triple in triples:
    print(triple)

3
6
9
12
15
18
21
24
27
30

In [10]:
cubes = [value**3 for value in range(1,11)]

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

In [13]:
food = ['fish','shrimp','chocolate','ice cream','french fries']

print(f"The first three items in the list are:{food[:3]}")
print(f"Three items from the middle of the list are:{food[1:4]}")
print(f"The last three items in the list are:{food[-3:]}")

The first three items in the list are:['fish', 'shrimp', 'chocolate']
Three items from the middle of the list are:['shrimp', 'chocolate', 'ice cream']
The last three items in the list are:['chocolate', 'ice cream', 'french fries']

In [15]:
friend_pizzas = pizzas[:]

pizzas.append('shrimp')
friend_pizzas.append('sausage')
print(f"My favourite pizzas are:{pizzas}")
print(f"My friend's favorite pizzas are:{friend_pizzas}")

My favourite pizzas are:['pepperoni', 'pineapple', 'chicken', 'shrimp']
My friend's favorite pizzas are:['pepperoni', 'pineapple', 'chicken', 'sausage']

In [20]:
easy_foods = ('french fries','rice','fried chicken','cake','hot pot')

for food in easy_foods:
    print(food)

print('\n')
easy_foods = ('french fries','ice cream','fried chicken','cake','dumplings')
for food in easy_foods:
    print(food)

french fries
rice
fried chicken
cake
hot pot


french fries
ice cream
fried chicken
cake
dumplings

In [22]:
car1 = 'bmw'
car2 = 'BMW'
car1 == car2

True

In [23]:
car1 == car2.lower()

True

In [27]:
alien_color = ['green','yellow','red']

alien1 = 'green'
alien2 = 'red'

if alien2 == 'green':
    print("you get 5 scores")
elif alien2 == 'yellow':
    print("you get 10 scores")
else:
    print("you get 15 scores")

you get 15 scores

In [30]:
age = 23

if age < 2:
    print('baby')
elif age < 4:
    print('infant')
elif age < 13:
    print('child')
elif age < 20:
    print('teen')
elif age < 65:
    print('adult')
else:
    print('elder')

adult

In [32]:
favourite_fruits = ['banana','watermelon','cantaloupe']

if 'apple' in favourite_fruits:
    print("you really like apples")
if "banana" in favourite_fruits:
    print("you really like bananas")

you really like bananas

In [33]:
users = ['admin','vincy','tom','javk','even']

for user in users:
    if user == 'admin':
        print("Hello admin,would you like to see a status report?")
    else:
        print(f"Hello {user.title()},thank you for logging in again.")

Hello admin,would you like to see a status report?
Hello Vincy,thank you for logging in again.
Hello Tom,thank you for logging in again.
Hello Javk,thank you for logging in again.
Hello Even,thank you for logging in again.

In [34]:
users = []

if users:
    for user in users:
        if user == 'admin':
            print("Hello admin,would you like to see a status report?")
        else:
            print(f"Hello {user.title()},thank you for logging in again.")
else:
    print("We need to find some users!")

We need to find some users!

In [35]:
current_users = ['admin','vincy','tom','jack','evan']
new_users = ['evan','MARY','JACK','john','libra']

for user in new_users:
    if user.lower() in current_users:
        print("Please type an another name.")
    else:
        print(f"{user} is never used.")

Please type an another name.
MARY is never used.
Please type an another name.
john is never used.
libra is never used.

In [36]:
nums = [num for num in range(1,10)]

for num in nums:
    if num==1:
        print("1st")
    elif num==2:
        print('2nd')
    elif num==3:
        print('3rd')
    else:
        print(f"{num}th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th

In [3]:
people1 = {
        'first_name':'vincy',
        'last_name':'wang',
        'age':23,
        'city':'baoji',
        }
people2 = {
        'first_name':'evan',
        'last_name':'lu',
        'age':23,
        'city':'guangqi',
        }
people3 = {
        'first_name':'libra',
        'last_name':'zuo',
        'age':23,
        'city':'weiming',
        }
people = [people1,people2,people3]
for person in people:
    print(f"{person}\t")

{'first_name': 'vincy', 'last_name': 'wang', 'age': 23, 'city': 'baoji'}
{'first_name': 'evan', 'last_name': 'lu', 'age': 23, 'city': 'guangqi'}
{'first_name': 'libra', 'last_name': 'zuo', 'age': 23, 'city': 'weiming'}

In [38]:
favorite_num = {
    'vincy':9,
    'tom':28,
    'evan':22,
    'jack':8,
    }
print(favorite_num)

{'vincy': 9, 'tom': 28, 'evan': 22, 'jack': 8}

In [6]:
#6-9
favorite_place  = {
                'vincy':['changsha','morocco'],
                'libra':['weiming','baoji'],
                'evan':['guangqi','changsha']
                    }
for name,place in favorite_place.items():
    print(f"{name}:{place}\t")

vincy:['changsha', 'morocco']
libra:['weiming', 'baoji']
evan:['guangqi', 'changsha']

In [10]:
#6-11
cities = {
    'changsha':{
        'country':'China',
        'popul':1024,
        'fact':'chili'
        },
    'chaouen':{
        'country':'morocco',
        'popul':4,
        'fact':'blue'
        }
}
for city,info in cities.items():
    print(f"{city.title()}:\n\t{info}")

Changsha:
	{'country': 'China', 'popul': 1024, 'fact': 'chili'}
Chaouen:
	{'country': 'morocco', 'popul': 4, 'fact': 'blue'}

In [12]:
#7-1
car = input("What kind of car would you rent?")
print(f"Let me see if I can find you a {car.title()}.")

What kind of car would you rent? toyota

Let me see if I can find you a Toyota.

In [14]:
#7-2
peo = input("How many people?")
peo = int(peo)

if peo>8:
    print("There is no empty table.")
else:
    print("Welcome to dinner.")

How many people? 5

Welcome to dinner.

In [15]:
#7-4
while True:
    iner = input("Please input an ingredient:")
    
    if(iner == 'quit'):
        break
    else:
        print(iner)

Please input an ingredient: pineapple

pineapple

Please input an ingredient: apple

apple

Please input an ingredient: quit

In [17]:
#7-5
while True:
    age = input("How old are you?")
    if(age=='quit'):
        break
    age = int(age)
    
    if(age<=3):
        print("You can see the film for free.")
    elif(age<=12):
        print("You need to pay $10.")
    else:
        print("You need to pay $15.")

How old are you? 3

You can see the film for free.

How old are you? 12

You need to pay $10.

How old are you? 54

You need to pay $15.

How old are you? quit